body {
    font-family: 'Oxygen', sans-serif;
    background-color: #E6E6FA;
}

header {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 50px;
    background-color: #E6E6FA;
    text-align: center;
}

table {
    background-color: #F8F8FF;
    border-collapse: separate;
    margin: 1em;
    border: solid 2px;
}

td {
    border: solid 1px;
}

span {
    font-family: 'Courier New', Courier, monospace;
    background-color: #E6E6FA;
}

footer {
    font-family: 'Bebas Neue', sans-serif;
}

.th {
    font-weight: 700;
    background-color: #fffafa;
    font-size: 30px;
}

.firstrow {
    font-weight: 600;
    background-color: #F0FFFF;
}

